

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */



#dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}


.dataTables_length {
	width: 40%;
	float: left;
	position: relative;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	position: relative;
}
.dataTables_filter input{
	    font-size: 17px;
    color: #009;
    background-color:#cce;
    border-color:#44b;
    border-width:3px;
  /*   padding: 4px 10px 5px 30px; */
    width: 213px;
    -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
    background: url(../images/find.png) center right no-repeat; 
    margin:5px;
    position: relative;
}

/* .dataTables_info {
	width: 60%;
	float: left;
} */

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
	position: relative;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	

}

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
	font-family:verdana;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	background-color: #523D66;
	padding: 10px;
	font-weight: bold;
	border-bottom: 3px solid #ffffff;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
	font-family:verdana;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	background-color: #523D66;
	padding: 10px;
	font-weight: bold;
	border-bottom: 3px solid #ffffff;
}


table.display thead th {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 10px;
	background-color: #802080;
	padding: 10px;
	font-weight: bold;
	border-bottom: 3px solid #ffffff;
	padding: 3px 18px 3px 10px;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 1px 1px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */



.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
	font-family:verdana;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	background-color: #523D66;
	padding: 10px;
	font-weight: bold;
	border-bottom: 3px solid #ffffff;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
	background-color: #802080;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
	background-color: #802080;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
*/


tr.odd {
	font-family:verdana;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	background-color: #faf2f2;
	padding: 50px;
	font-weight: normal;
	border-bottom: 2px solid #ffffff;
}

tr.odd:hover{
background-color:#bbaafe;
}
tr.even:hover{
background-color:#bbaafe;
}
tr.even {
	font-family:verdana;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	background-color: #ebced5;
	padding: 5px;
	font-weight: normal;
	border-bottom: 2px solid #ffffff;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}



.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}



/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
/* 	background-color: #D3D6FF; */
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	/* background-color: #EAEBFF; */
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */



