<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AETMSPORTAL</display-name>
  <welcome-file-list>
   <welcome-file>/WEB-INF/views/welcome.jsp</welcome-file>
  <!--  <welcome-file>/WEB-INF/views/chatSystem/chat_login.jsp</welcome-file> -->
   
  </welcome-file-list>
<context-param>
<param-name>contextConfigLocation</param-name>
<param-value>/portal-context/*.xml</param-value>
</context-param>
<context-param>
<param-name>chatpropertyfile</param-name>
<param-value>chat.properties</param-value>
</context-param>

<context-param>
<param-name>saveRooms</param-name>
		<!-- The value of saveRooms can be set to true or false.
		If true then all new rooms added by users will be saved in chat.properties files.
		Default is false.
		-->		
<param-value>true</param-value>
	</context-param>
<context-param>
		<param-name>adminEmail</param-name>
		<!-- An e-mail address of the administrator of this web site. -->
		<param-value>Vidhan_Chandra@infosys.com</param-value>
	</context-param>

	<context-param>
		<param-name>sessionTimeout</param-name>
		<!-- Time in minutes after which user's session will be expired.
		If user doesn't make any request after provided minutes he will be automatically logged out.
		Default is 30 minutes.
		-->
		<param-value>30</param-value>
	</context-param>

	<context-param>
		<param-name>refreshAfter</param-name>
		<!-- Time in seconds after which user's browser window will automatically refresh to display
		new messages.
		Default is 10 seconds.
		-->
		<param-value>10</param-value>
	</context-param>

	<context-param>
		<param-name>maxNoOfMessages</param-name>
		<!--  Maximum Number of messages that are stored in a list which is used to store all messages
		in a room. After this limit is reached older messages are removed.
		Default is 25
		-->		
		<param-value>25</param-value>
	</context-param>
<listener>
<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
<listener>
<listener-class>com.infosys.aetnams.chat.SessionListener</listener-class>
</listener>
  <servlet>
  <display-name>AETMSPORTAL</display-name>
  <servlet-name>PortalServlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
<!--   <servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.infosys.aetnams.chat.servlet.LoginServlet</servlet-class>
	</servlet> -->

	<servlet>
		<servlet-name>manageChat</servlet-name>
		<servlet-class>com.infosys.aetnams.chat.servlet.ManageChatServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>saveInfo</servlet-name>
		<servlet-class>com.infosys.aetnams.chat.servlet.SaveInfoServlet</servlet-class>
	</servlet>
  <servlet-mapping>
  <servlet-name>PortalServlet</servlet-name>
  <url-pattern>*.infy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>manageChat</servlet-name>
		<url-pattern>/manageChat.infy</url-pattern>

	</servlet-mapping>
<!-- 	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/chatLogin.infy</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>saveInfo</servlet-name>
		<url-pattern>/saveChatInfo.infy</url-pattern>
	</servlet-mapping>
		<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
<!-- 		<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/chatSystem/error.jsp</location>
	</error-page> -->
</web-app>